/* COLORS 
magenta #BF202F
ladrillo #A52922
tinto #580F1B
verde inglés #1E3827
*/

body {
    background-color: #BF202F;
    font-family: 'Averia Serif Libre';
}

.navbar {
    background-color: #101010;
    font-family: 'Averia Serif Libre', cursive;
}

.nav-link {
    color: white;
    padding-bottom: 20%;
}

.nav-link:hover {
    color: #BF202F;
    background-color: black;
    border: white 2px solid;
}

h1, h2, h3 {
    font-family: 'Blaka', bold;
    color: white;
}

.menuGallery {
    margin: 2%;
    padding: 2%;
    border: white 6px solid;
    background-color: #101010;
    color: white;
}

form {
    display: grid;
    margin: 2%;
    padding: 2%;
    border: white 6px solid;
    background-color: #101010;
    color: white;
}

label {
    color: white;
    margin-top: 2%;
}

.btn {
    padding: 1%;
    margin: auto;
    margin-top: 5%;
    background-color: #1E3827;
    border: solid 1px white;
    font-size: larger;
    color: white;
}

.btn:hover{
    background-color:#BF202F;
    border: solid 1px white;
    border-radius: 20px;
    font-weight: bolder;
    letter-spacing: 1cap;
}

.producto {
    border: 1px solid white;
    color: white;
    background-color: black;
    text-align: center;
    margin: 2%;
    padding: 2%;
}

.footer {
    margin-top: 10%;
    margin-bottom: 0;
    background-color: #101010;
}