/* COLORS 
magenta #BF202F
ladrillo #A52922
tinto #580F1B
verde inglés #1E3827
*/

body {
    background-color: #BF202F;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #BF202F;
    background-color: black;
}

h1, h2, h3 {
    font-family: 'Blaka', bold;
    color: white;
}

h1 {
    /* font-size: 200px; */
}

p {
    font-family: 'Averia Serif Libre';
    /* font-size: 40px; */
}


div {
    text-align: center;
}