/* COLORS 
magenta #BF202F
ladrillo #A52922
tinto #580F1B
verde inglés #1E3827
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #BF202F;
    font-family: 'Averia Serif Libre';
}

a:hover {
    color: #BF202F;
}

h1, h2, h3 {
    font-family: 'Blaka', bold;
    color: white;
}


nav { grid-area: nav; }
main { grid-area: main; }
.left{ grid-area: left; }
.right { grid-area: right; }
.left2{ grid-area: left2; }
.right2 { grid-area: right2; }
footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'nav nav nav nav nav nav'
    'main main main main main main'
    'left left left right right right'
    'left2 left2 left2 right2 right2 right2'
    'footer footer footer footer footer footer';
}

main, section {
    margin: auto;
}

section h2, p {
    padding: 2% 5%;
}

.linkGrid {
    background-color: #101010;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    min-height: 5rem;
    align-items: center;
}

.linkGrid a {
    color: aliceblue;
    text-decoration: none;
}

.linkGrid a:hover {
    color: #BF202F;   
}

.responsive {
    width: 100%;
    height: auto;
}